<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxkb4j.knowledge.mapper.DocumentTagMapper">

    <select id="listTagsByDocId" resultType="com.maxkb4j.knowledge.entity.TagEntity">
        SELECT tag.* FROM TAG tag LEFT JOIN DOCUMENT_TAG dt ON tag.id=dt.tag_id
                 WHERE dt.document_id=#{docId}
    </select>

    <select id="listTagsByDocIds" resultType="java.util.LinkedHashMap">
        SELECT dt.document_id AS document_id, tag.id, tag.key, tag.value
        FROM TAG tag
        INNER JOIN DOCUMENT_TAG dt ON tag.id = dt.tag_id
        WHERE dt.document_id IN
        <foreach collection="docIds" item="docId" open="(" separator="," close=")">
            #{docId}
        </foreach>
    </select>
</mapper>
