<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maxkb4j.knowledge.mapper.GraphRelationshipParagraphMappingMapper">

    <select id="getParagraphIdsByRelationshipIds" resultType="java.lang.String">
        SELECT DISTINCT paragraph_id
        FROM graph_relationship_paragraph_mapping
        WHERE relationship_id IN
        <foreach item="rid" collection="relationshipIds" open="(" separator="," close=")">
            #{rid}
        </foreach>
    </select>

    <select id="getParagraphIdsByRelationshipIdsAndKnowledgeId" resultType="java.lang.String">
        SELECT DISTINCT paragraph_id
        FROM graph_relationship_paragraph_mapping
        WHERE knowledge_id = #{knowledgeId}
        AND relationship_id IN
        <foreach item="rid" collection="relationshipIds" open="(" separator="," close=")">
            #{rid}
        </foreach>
    </select>

</mapper>