<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.maxkb4j.knowledge.mapper.GraphRelationshipMapper">

    <select id="searchByKeywords" resultType="com.maxkb4j.knowledge.entity.GraphRelationshipEntity">
        SELECT id, source_entity_id, target_entity_id, description, keywords, weight, knowledge_id, document_id, is_active
        FROM graph_relationship
        WHERE is_active = true
        AND knowledge_id = #{knowledgeId}
        AND (
            <foreach item="kw" collection="keywords" separator=" OR ">
                keywords LIKE CONCAT('%', #{kw}, '%')
            </foreach>
        )
    </select>

    <select id="searchByEntityIds" resultType="com.maxkb4j.knowledge.entity.GraphRelationshipEntity">
        SELECT id, source_entity_id, target_entity_id, description, keywords, weight, knowledge_id, document_id, is_active
        FROM graph_relationship
        WHERE is_active = true
        AND knowledge_id = #{knowledgeId}
        AND (
            source_entity_id IN
            <foreach item="eid" collection="entityIds" open="(" separator="," close=")">
                #{eid}
            </foreach>
            OR target_entity_id IN
            <foreach item="eid" collection="entityIds" open="(" separator="," close=")">
                #{eid}
            </foreach>
        )
    </select>

</mapper>