services:
  postgres:
    image: registry.cn-hangzhou.aliyuncs.com/tarzanx/pgvector:0.7.0-pg15
    container_name: maxkb4j-pgvector
    restart: always
    networks:
      - maxkb4j_network
    environment:
      POSTGRES_USER: tarzan_postgres
      POSTGRES_PASSWORD: ycn4NRhjN2
      POSTGRES_DB: MaxKB4j
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
  mongo:
    image: registry.cn-hangzhou.aliyuncs.com/tarzanx/mongo:8.0
    container_name: maxkb4j-mongo
    restart: always
    networks:
      - maxkb4j_network
    environment:
      TZ: 'Asia/Shanghai'
      MONGO_INITDB_ROOT_USERNAME: tarzan_mongo
      MONGO_INITDB_ROOT_PASSWORD: ycn4NRhjN2
    volumes:
      - ./mongo/data:/data/db
      - ./mongo/configdb:/data/configdb
  maxKB4j:
    container_name: maxkb4j-app
    image: registry.cn-hangzhou.aliyuncs.com/tarzanx/maxkb4j:latest
    ports:
      - "8080:8080"
    networks:
      - maxkb4j_network
    depends_on:
      postgres:
        condition: service_started
      mongo:
        condition: service_started
    restart: always
    logging:
      options:
        max-size: 10m
        max-file: 1
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://tarzan_mongo:ycn4NRhjN2@mongo:27017/MaxKB4j?authSource=admin
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/MaxKB4j
      - SPRING_DATASOURCE_USERNAME=tarzan_postgres
      - SPRING_DATASOURCE_PASSWORD=ycn4NRhjN2
    volumes:
      - ./logs:/logs
    entrypoint: >
      sh -c "
      sleep 10;
      exec java -jar MaxKB4j.jar 
      "
networks:
  maxkb4j_network: