spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/MaxKB4J_v2
    username: username
    password: password
    driver-class-name: org.postgresql.Driver
  data:
    mongodb:
      uri: mongodb://tarzan_mongo:ycn4NRhjN2@localhost:27017/MaxKB4J?authSource=admin

