<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxkb4j.model.mapper.ModelMapper">

    <select id="models" resultType="com.maxkb4j.model.vo.ModelVO">
        SELECT
        m.ID,
        m.name,
        m.model_name,
        m.provider,
        m.user_id,
        m.model_type,
        m.status,
        u.nickname,
        m.create_time,
        COALESCE(
        (
        SELECT COUNT(*)
        FROM resource_mapping rm
        WHERE rm.target_id = m.ID
        AND rm.target_type = 'MODEL'
        ),
        0
        ) AS resource_count
        FROM model m
        LEFT JOIN "user" u ON m.user_id = u.id
        <where>
            <if test="query.createUser != null and query.createUser != ''">
                AND m.user_id = #{query.createUser}
            </if>
            <if test="query.name != null and query.name!= ''">
                AND m.name LIKE '%' || #{query.name} || '%'
            </if>
            <if test="query.modelType != null and query.modelType!= ''">
                AND m.model_type = #{query.modelType}
            </if>
            <if test="query.provider != null and query.provider!= ''">
                AND m.provider = #{query.provider}
            </if>
            <choose>
                <when test="query.isAdmin != null and !query.isAdmin">
                    <choose>
                        <when test="query.targetIds != null and !query.targetIds.isEmpty()">
                            AND m.ID IN
                            <foreach collection="query.targetIds" item="targetId" open="(" separator="," close=")">
                                #{targetId}
                            </foreach>
                        </when>
                        <otherwise>
                            AND m.ID=''
                        </otherwise>
                    </choose>
                </when>
            </choose>
        </where>
        ORDER BY m.create_time DESC
    </select>
    <select id="modelList" resultType="com.maxkb4j.model.vo.ModelListVO">
        SELECT
        m.ID,
        m.name,
        m.provider,
        m.status
        FROM model m
        <where>
            <if test="query.modelType != null">
                AND m.model_type = #{query.modelType}
            </if>
            <choose>
                <when test="query.isAdmin != null and !query.isAdmin">
                    <choose>
                        <when test="query.targetIds != null and !query.targetIds.isEmpty()">
                            AND m.ID IN
                            <foreach collection="query.targetIds" item="targetId" open="(" separator="," close=")">
                                #{targetId}
                            </foreach>
                        </when>
                        <otherwise>
                            AND m.ID=''
                        </otherwise>
                    </choose>
                </when>
            </choose>
        </where>
        ORDER BY m.create_time DESC
    </select>
</mapper>
