<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxkb4j.application.mapper.ApplicationMapper">


    <select id="pageList" resultType="com.maxkb4j.application.vo.ApplicationListVO">
        SELECT
        a.id,
        a.name,
        a."desc",
        a.icon,
        a.type,
        a.is_publish,
        a.create_time,
        a.update_time,
        u.nickname,
        COALESCE(res_stats.resource_count, 0) AS resource_count
        FROM application a
        LEFT JOIN "user" u ON a.user_id = u.id
        LEFT JOIN (
        SELECT
        m.target_id,
        COUNT(*) AS resource_count
        FROM resource_mapping m
        WHERE m.target_type = 'APPLICATION'
        GROUP BY m.target_id
        ) res_stats ON a.id = res_stats.target_id
        <where>
            <if test="query.name != null and query.name != ''">
                AND a.name LIKE '%' || #{query.name} || '%'
            </if>
            <if test="query.publishStatus != null and query.publishStatus != ''">
                <choose>
                    <when test="query.publishStatus == 'published'">
                        AND a.is_publish = true
                    </when>
                    <otherwise>
                        AND a.is_publish = false
                    </otherwise>
                </choose>
            </if>
            <if test="query.type != null and query.type != ''">
                AND a.type = #{query.type}
            </if>
            <if test="query.createUser != null and query.createUser != ''">
                AND a.user_id = #{query.createUser}
            </if>
            <choose>
                <when test="query.isAdmin != null and query.isAdmin">
                    <choose>
                        <when test="query.folderId != null and query.folderId != ''">
                            AND COALESCE(a.folder_id, 'default') = #{query.folderId}
                        </when>
                        <otherwise>
                            AND COALESCE(a.folder_id, 'default') = 'default'
                        </otherwise>
                    </choose>
                </when>
                <otherwise>
                    <choose>
                        <when test="query.targetIds != null and !query.targetIds.isEmpty()">
                            AND a.id IN
                            <foreach collection="query.targetIds" item="targetId" open="(" separator="," close=")">
                                #{targetId}
                            </foreach>
                        </when>
                        <otherwise>
                            AND a.id = ''
                        </otherwise>
                    </choose>
                </otherwise>
            </choose>
        </where>
        ORDER BY a.create_time DESC
    </select>

    <select id="listApps" resultType="com.maxkb4j.application.vo.ApplicationListVO">
        SELECT
        a.id,
        a.name,
        a."desc",
        a.icon,
        a.type,
        a.is_publish,
        a.create_time,
        a.update_time,
        u.nickname
        FROM application a
        LEFT JOIN "user" u ON a.user_id = u.id
        WHERE a.is_publish = true
        AND COALESCE(a.folder_id, 'default') = #{query.folderId}
        <if test="query.isAdmin == null or !query.isAdmin">
            <choose>
                <when test="query.targetIds != null and !query.targetIds.isEmpty()">
                    AND a.id IN
                    <foreach collection="query.targetIds" item="targetId" open="(" separator="," close=")">
                        #{targetId}
                    </foreach>
                </when>
                <otherwise>
                    AND a.id = ''
                </otherwise>
            </choose>
        </if>
        ORDER BY a.create_time DESC
    </select>

</mapper>
