<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tarzan.maxkb4j.module.dataset.mapper.DatasetMapper">
    <!-- 多个字段中某个字段的类型处理器配置 -->
    <resultMap id="datasetResultMap" type="com.tarzan.maxkb4j.module.dataset.vo.DatasetVO">
        <result property="meta" column="meta" typeHandler="com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler" />
        <result property="documentCount" column="document_count" />
        <result property="charLength" column="char_length" />
        <result property="applicationMappingCount" column="application_mapping_count"/>
    </resultMap>

    <select id="selectDatasetPage"  resultMap="datasetResultMap">
        SELECT
            d.*,
            COUNT ( doc.dataset_id ) AS document_count,
            SUM ( doc."char_length" ) AS char_length,
	        COUNT (DISTINCT adm.application_id ) AS application_mapping_count
        FROM
            dataset d
            LEFT JOIN "document" doc ON d.ID = doc.dataset_id
            LEFT JOIN application_dataset_mapping adm ON d.ID = adm.dataset_id
        <where>
            <if test="query.selectUserId != null and query.selectUserId != ''">
                d.user_id= CONCAT('%',#{query.selectUserId},'%')
            </if>
            <if test="query.name != null and query.name != ''">
                and d.name like CONCAT('%',#{query.name},'%')
            </if>
        </where>
        GROUP BY
            d.ID
    </select>

</mapper>
