<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tarzan.maxkb4j.module.dataset.mapper.ParagraphMapper">

    <select id="retrievalParagraph" resultType="com.tarzan.maxkb4j.module.dataset.vo.ParagraphVO">
        SELECT
            ph.*,
            doc."name" AS document_name
        FROM
            paragraph ph
                LEFT JOIN "document" doc ON ph.document_id = doc.ID
        WHERE ph.id IN
        <foreach item="id" collection="paragraphIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
