<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tarzan.maxkb4j.module.dataset.mapper.ProblemMapper">

    <select id="getProblemsByDatasetId" resultType="com.tarzan.maxkb4j.module.dataset.domain.vo.ProblemVO">
        SELECT
            p.*,
            COUNT(ppm.paragraph_id) AS paragraph_count
        FROM
            problem p
                LEFT JOIN
            problem_paragraph_mapping ppm ON p.id = ppm.problem_id
        WHERE p.DATASET_ID = #{datasetId}
        <if test="content != null and content != ''">
            and p.content like CONCAT('%',#{content},'%')
        </if>
        GROUP BY
            p.id
        ORDER BY
            p.create_time DESC
    </select>

</mapper>
